<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cv.css') }}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Roy's CV</title>
</head>
<style>
body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}
.make_bold {
    font-weight: bold;
}
.make_bold_with_padding {
    font-weight: bold;
    padding-bottom: 10px;
}
.margin_bottom {
    margin-bottom: 10px;
}
.large_margin_bottom {
    margin-bottom: 20px;
}
.experience_note {
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
}
.gray_break {
    background-color: #efefef;
    height: 15px;
    margin: 10px 0 10px 0;
}
#header {
    background-color: #efefef;
    height: 100px;
    padding: 5px;
}
#address {
    float: right;
}
#name {
    margin-top: 5px;
}
#tag_line {
    font-weight: bold;
    margin: 10px 0 10px 0;
    text-align: center;
}
.circle {
    font-size: 15px;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}
.container {
    display: flex;
}

.box {
    text-align: center;
}
</style>
<body>
    <div id="header">
        <div id="address">
            <p class="make_bold_with_padding">
Flat 11, Bryce House,<br />
John Williams Close,<br />
London, SE14 5XG<br />
royhanley8@gmail.com<br />
            </p>
        </div>
        <div id="name">
            <h1>Roy Hanley</h1>
            <h4 class="make_bold_with_padding">Computer Programmer Resume</h4>
            <a href="https://royhanley.com">royhanley.com</a>
            <a href="https://github.com/royroy21">github.com/royroy21</a>
        </div>
    </div>
    <p id="tag_line">Python/Django/React programmer experienced in developing data driven applications</p>
    <div>
        <h2 class="margin_bottom">Technology Summary</h2>
        <p class="make_bold_with_padding">
            Python, Django, JavaScript, React, React Native, Redux, Zustand, HTML, CSS,
            Linux, BASH, PostgreSQL, Docker, Ansible, Terraform, Nginx,
            GIT, REST, GraphQL, Vagrant, Celery, RabbitMQ, AWS, Heroku, CircleCI,
            Airflow, timescaleDB, Agile, Scrum, SDLC.
        </p>
    </div>
    <div class="gray_break"></div>
    <div>
        <h2 class="margin_bottom">Professional Experience</h2>
        <div class="large_margin_bottom">
            <h4 class="margin_bottom">Senior Developer (1/2024-6/2024) Fusecup (<a href="https://fusecup.co/">fusecup.co</a>)</h4>
            <p>At Fusecup, I designed and developed an ETL (Extract, Transform, Load) system for a client to
                consolidate data from their apps and systems, providing performance metrics across their businesses.
                Leveraged Airflow and Django for ETL tasks, utilising TimescaleDB for time-based data management
                and optimised database performance.
            </p>
            <div class="container make_bold">
                <div class="box container"><span class="circle">&#9679;</span><p>Python/Django</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>Airflow</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>timescaleDB</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>REST API integrations</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>Working with an internation team</p></div>
            </div>
        </div>
        <div class="large_margin_bottom">
            <h4 class="margin_bottom">Full Stack Developer (10/2022-12/2023) GigPig (<a href="https://gigpig.fm/">gigpig.fm</a>)</h4>
            <p>Designed and developed an app to connect people through live music. Built the frontend with React Native
                and Zustand for iOS/Android. Developed the backend using Python/Django and Django Channels,
                incorporating Django REST Framework and Elasticsearch for search functionality.
            </p>
            <div class="container make_bold">
                <div class="box container"><span class="circle">&#9679;</span><p>Python/Django</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>Django channels</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>React Native</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>REST/DRF</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>Elasticsearch</p></div>
            </div>
        </div>
        <div class="large_margin_bottom">
            <h4 class="margin_bottom">Django Developer (08/2020-02/2022) Octopus Energy (<a href="https://electroverse.octopus.energy/">electroverse.octopus</a>)</h4>
            <p>Led a greenfield project to develop and maintain backend infrastructure for an electric vehicle
                charging app. Integrated with Octopus Energy’s infrastructure and third-party charge point operators.
                Collaborated with iOS, Android, and web teams to create APIs. Assisted in hiring and mentoring
                the backend team.
            </p>
            <div class="container make_bold">
                <div class="box container"><span class="circle">&#9679;</span><p>Python/Django</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>GraphQL</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>Heroku</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>Team mentoring</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>Agile</p></div>
            </div>
        </div>
        <div class="large_margin_bottom">
            <h4 class="margin_bottom">Full Stack Developer (03/2020-08/2020) Fix The News (<a href="https://staging.fixthenews.com/">fixthenews.com</a>)</h4>
            <p>Developed and maintained a news comparison website using Python/Django and React/Redux.
                Implemented infrastructure as code with AWS, Terraform, and Ansible.
            </p>
            <div class="container make_bold">
                <div class="box container"><span class="circle">&#9679;</span><p>Python/Django</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>React/Redux</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>AWS/Terraform</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>Ansible</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>Agile</p></div>
            </div>
        </div>
        <div class="large_margin_bottom">
            <h4 class="margin_bottom">Python Developer (04/2018-01/2020) Autotrip (<a href="https://autotrip.com/">autotrip.com</a>)</h4>
            <p>At Autotrip, a GPS-based fleet management company, assisted in rewriting the backend from Bottle to
                Django. Contributed to developing the new React web app, eventually taking ownership. Created and
                tested REST API endpoints for the React Native mobile app. Implemented infrastructure as code.
            </p>
            <div class="container make_bold">
                <div class="box container"><span class="circle">&#9679;</span><p>Python/Django</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>React/Redux</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>AWS/Terraform</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>Ansible</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>Agile</p></div>
            </div>
        </div>
        <div class="large_margin_bottom">
            <h4>Python Developer (04/2015-04/2018) Ostmodern (<a href="https://www.ostmodern.co.uk/">ostmodern.co.uk</a>)</h4>
            <p>Led the development of backend infrastructure and codebase for BBCW's video-on-demand application,
                launched in Singapore and Malaysia. Contributed to the design, development, and testing of Skylark,
                the backend library for Ostmodern's applications. Designed and developed new features for BallBall.com,
                BFI Player, and Olympic Player. Supported and upgraded existing products, and mentored junior developers.
            </p>
            <div class="container make_bold">
                <div class="box container"><span class="circle">&#9679;</span><p>Python/Django</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>REST/DRF</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>Javascript</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>Postgres</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>Linux/BASH</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>Agile</p></div>
            </div>
        </div>
        <div class="large_margin_bottom">
            <h4 class="margin_bottom">Software and Database Developer (06/2012-03/2015) Thomas's London Day Schools (<a href="https://www.thomas-s.co.uk/">thomas-s.co.uk</a>)</h4>
            <p>Participated in the design, development, and testing of a new bespoke MIS (Mass Information System),
                including data migration from the old MIS. Refactored systems for improved efficiency. Developed
                tools for data analysis and reporting to enhance school productivity. Designed, tested, and developed
                APIs to integrate external systems. Established new procedures for requirements gathering,
                needs analysis, testing, scripting, and documentation to improve system quality and functionality.
            </p>
            <div class="container make_bold">
                <div class="box container"><span class="circle">&#9679;</span><p>Python/Django</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>REST/DRF</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>Postgres</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>Javascript</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>Linux/BASH</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>Agile</p></div>
            </div>
        </div>
        <div class="large_margin_bottom">
            <h4 class="margin_bottom">Python Programmer (10/2011-06/2012). Creative Virtual (<a href="https://www.creativevirtual.com/">creativevirtual.com</a>)</h4>
            <p>Assisted in developing Virtual Assistants for clients including O2, RSPCA, Virgin Media,
                and Renault. Collaborated with clients to enhance user experience. Implemented additional
                functionalities using various backend and frontend technologies. Developed tools for data
                analysis, data transfer, and testing.
            </p>
            <div class="container make_bold">
                <div class="box container"><span class="circle">&#9679;</span><p>Python</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>REST</p></div>
                <div class="box container"><span class="circle">&#9679;</span><p>Agile</p></div>
            </div>
        </div>
        <div>
            <p class="experience_note">Note: My work experience before this date include many contacted roles while I worked in engineering/management positions in construction. If needed a detailed breakdown of this work can be supplied</p>
        </div>
    </div>
    <br /><br />
    <div>
        <h2 class="margin_bottom">Education</h2>
        <div class="large_margin_bottom">
            <h4 class="margin_bottom">Birkbeck University: Web Technologies FD (2012-2015)</h4>
            <p>Fundamentals of Information Technology</p>
            <p>Introduction to Computer Systems</p>
            <p>Introduction to Web Authoring</p>
            <p>Introduction to Database Technology</p>
            <p>Problem-Solving for Programming</p>
            <p>Information Systems Concepts</p>
            <p>Introduction to Programming</p>
            <p>Mathematics for Computing</p>
            <p>Working in Teams</p>
            <p>Work-related Project</p>
            <p>Information Systems Management</p>
            <p>Software and Programming I</p>
            <p>Web Data with XML, JSON and AJAX</p>
            <p>Web Programming using PHP</p>
            <p>Building Web Applications using MySQL and PHP</p>
            <p>JavaScript</p>
            <p>Advanced Web Authoring</p>
            <p>Data Structures and Algorithms</p>
        </div>
        <div class="large_margin_bottom">
            <h4 class="margin_bottom">Microsoft Certified Systems Administrator (2010)</h4>
            <p>Installing, configuring and administering Microsoft Windows XP Professional (20-270)</p>
            <p>Managing and maintaining a Microsoft Windows Server 2003 Environment (20-290)</p>
            <p>Implementing, Managing and Maintaining a Microsoft Windows Server 2003 Network Infrastructure (20-291)</p>
            <p>Implementing and Managing Microsoft Exchange Server 2003 (20-284)</p>
        </div>
        <div class="large_margin_bottom">
            <h4 class="margin_bottom">Greenwich Community College (1998-2001)</h4>
            <p>National diploma in Engineering (Level 3)</p>
            <p>GNVQ in Engineering (Level 2)</p>
        </div>
        <div class="large_margin_bottom">
            <h4 class="margin_bottom">St Mary and St Joseph’s RC Secondary School (1990-1996)</h4>
            <p>9 GCSEs</p>
        </div>
    </div>
    <div class="gray_break"></div>
    <div>
        <h2 class="margin_bottom">About Me</h2>
        <p>I prioritise clean, straightforward solutions over complexity and strive for excellence in my work.
            Outside of professional life, I enjoy socialising, camping, walking, fishing, attending gigs,
            and playing music (guitar and bass) with friends. I also spend time tinkering with computers,
            whether programming, gaming, or exploring new Linux distributions. My goal for this year is to
            delve deeper into Phaser3, a JavaScript framework for game development, to realise my ambition
            of creating a turn-based RPG.
        </p>
    </div>
    <div class="gray_break"></div>
    <div>
        <h2 class="margin_bottom">References upon Request</h2>
    </div>
</body>
</html>
